.app__header {
  margin: 1rem 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  font-size: 1.5rem;
}

.header__title__link {
  color: inherit;
  text-decoration: none;
}

.header__favorites_link {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
}

// .header__title__link {
//   text-decoration: none;
//   color: inherit;

//   opacity: 0.8;

//   transition: all 200ms ease-in-out;
// }

// .header__title__link:hover {
//   opacity: 1;
// }

// .menu__items {
//   list-style-type: none;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
// }

// .menu__menu_item {
//   font-size: 1.2rem;
// }

// .menu_item__link {
//   display: inline-block;
//   text-decoration: none;
//   color: inherit;
//   padding: 0.3rem 0.8rem;
//   border-radius: 0.3rem;

//   opacity: 0.8;
//   background-color: inherit;

//   transition: all 200ms ease-in-out;
// }

// .menu_item__link:hover {
//   opacity: 1;
//   background-color: #3a3e50;
// }

// @media (min-width: 426px) {
//   .app__header {
//     margin-top: 1.8rem;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

  
  
  
  
// }

